body {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 18px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

a {
    color: inherit !important;
}

#messageBienvenue {
    text-align: center;
    font-weight: bold;
}

header {
    background-color: white;
    box-shadow: 0 0 10px;
}

.headerItem {
    text-align: center;
    color: orange;
    font-size: 20px;
    padding: 10px;
}

#logo {
    width: 100px;
}

footer {
    background-color: white;
    box-shadow: 0 0 10px;
    position: static;
    bottom: 0;
}

.temoignages{
    text-align: center;
    margin: 2px;
    padding: 5px;
    border: 1px solid black;
}

#boiteTemoignage{
    padding: 1em;
}